{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "no-console": "off",
    "padded-blocks": "off",
    "comma-dangle": ["error", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore",
    }],
    "no-plusplus": "off",
    "prefer-template": "off",
    "brace-style": ["error", "stroustrup"],
    "max-len": "off",
    "arrow-parens": "off",
    "consistent-return": "off",
    "no-underscore-dangle": "off",
    "no-shadow": "off",
    "no-trailing-spaces": "off",
    "no-unreachable": "warn",
    "no-return-assign": "off",
    "no-confusing-arrow": "off",
    "no-param-reassign": "warn",
    "global-require": "off",
    "indent": ["error", 2, { "MemberExpression": "off" }],
    "import/no-dynamic-require": "off",
    "import/first": "off",
    "import/no-extraneous-dependencies": "off",
    "react/jsx-filename-extension": "off",
    "react/prop-types": "off",
    "react/sort-comp": "off",
  },
  "env": {
    "browser": true,
    "node": true,
  }
}
